/*
 * -------------------------------------------------------
 *  Nextflow config file for Compute Cluster of the MPI-MR
 * -------------------------------------------------------
 */

singularity {

  enabled = true
  autoMounts = true
  // Some processes don't respect the TMP environment variables: https://github.com/nf-core/rnaseq/issues/115
  runOptions = '-B /beegfs/scratch/bruening_scratch/pklemm/nextflow_tmp:/tmp'

}

process {

  // Global process config
  executor = 'slurm'
  queue = 'blade-b,blade-a'

}

executor {
  queueSize = 10
}

params {
  config_profile_description = 'MPI SF nf-core rnaseq analysis pipeline config.'
  config_profile_contact = 'Paul Klemm (@paul_klemm)'
  config_profile_url = 'https://www.sf.mpg.de/'
  genomes {
    'mmus-97' {
      fasta  = '/beegfs/scratch/bruening_scratch/pklemm/genome_builds/mus_musculus/97/Mus_musculus.GRCm38.dna.toplevel.fa'
      gtf  = '/beegfs/scratch/bruening_scratch/pklemm/genome_builds/mus_musculus/97/Mus_musculus.GRCm38.97.gtf'
    }
  }
  // Optional - default genome. Ignored if --genome 'OTHER-GENOME' specified on command line
  genome = 'mmus-97'
  // Make the default reverse stranded. This can be changed with the nextflow call using --forwardStranded or --unStranded
  reverseStranded = true
  max_memory = 250.GB
  max_cpus = 38
  max_time = 120.h
}
